* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

@font-face {
    font-family: 'OpenSans';
    src: url('static://fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('static://fonts/OpenSans-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'OpenSans';
    src: url('static://fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}
::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #0e4eff;
}

::-webkit-scrollbar-thumb:hover {
    background: blue;
}

@media (max-width: 1280px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}
